<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alerts Received</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tr>
              <td ng-repeat="columnHeader in canarayAlertsController.tableColumns">
                {{columnHeader}}
              </td>
            <tr>
            <tr ng-repeat="alert in canarayAlertsController.alerts.alerts">
              <td>
                <button>
                  <i class="fa fa-envelope"></i>
                </button>
              </td>
              <td>
                {{ alert.timestamp }}
              </td>
              <td>
                {{ alert.watch_id }}
              </td>
              <td>
                {{ alert.alert_type }}
              </td>
              <td>
                {{ alert.alert_text }}
              </td>
              <td>
                <button>
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
          </table>
          <!-- We might not use this, but it's nice that if we need it, we got it. -->
          <uib-pagination total-items="500" max-size="8" ng-model="bigCurrentPage" class="pagination-sm" boundary-links="true" force-ellipses="true"></uib-pagination>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success fade in" id="canary-alert" style="width:300px;z-index:100;position:absolute;left:75%" ng-hide="!canarayAlertsController.showAlertToast">
  <strong>{{ canarayAlertsController.alertToastTime }}</strong><br>
  <strong>{{ canarayAlertsController.alertToastWatchId }}</strong><br>
  <strong>{{ canarayAlertsController.alertToastAlertType }}</strong><br>
  {{ canarayAlertsController.alertToastAlertText }}
</div>


