<!-- This is where the c3 chart is rendered -->

<div class="container">
  <uib-tabset active="active">
    <uib-tab index="0" id="acceleration-graph-tab" select="graphController.setActiveTab('acceleration')">
      <uib-tab-heading>
        Acceleration Data
      </uib-tab-heading>
      <br>
    </uib-tab>

    <uib-tab index="1" id="battery-graph-tab" select="graphController.setActiveTab('battery')">
      <uib-tab-heading>
        Battery Data
      </uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  <br>
  <div class="chart">
    <div id="chart"></div>
  </div>
</div>		
