<div class="container">
  <uib-tabset active="active">
    <uib-tab index="0" id="acceleration-graph-tab">
      <uib-tab-heading>
        Acceleration Data
      </uib-tab-heading>
      <div class="container">
        </br> Livestream:
        <div class="btn-group">
          <label class="btn btn-default" uncheckable ng-click="graphController.showAcclerationStream()">On</label>
          <label class="btn btn-default" uib-uncheckable="uncheckable" ng-click="graphController.stopAcclerationStream()">Off</label>
        </div>
      </div>
      <div class="chart" ng-show="true">
        <div id="chart"></div>
      </div>
    </uib-tab>
    <uib-tab index="1" id="battery-graph-tab">
      <uib-tab-heading>
        Battery Data
      </uib-tab-heading>
      <div class="container">
        </br>
        <button ng-click="graphController.getAllBatteryData()" class="btn btn-warning">Create Battery Life Report</button>
        <div class="chart">
          <div id="battery-chart"></div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
