<div class="container">
  <uib-tabset active="active">
    <uib-tab index="0" id="acceleration-graph-tab">
      <uib-tab-heading>
        Acceleration Data
      </uib-tab-heading>
      <div class="chart">
        <div id="chart"></div>
      </div>
    </uib-tab>
    <uib-tab index="1" id="battery-graph-tab">
      <uib-tab-heading>
        Battery Data
      </uib-tab-heading>
      <div class="container">
        </br>
        <div class="chart">
          <div id="battery-chart"></div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
