<div class="btn-group" uib-dropdown keyboard-nav>
  <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
    Select a watch ID
    <span class="caret"></span>
  </button>

  <!-- Need to bind these buttons to functions later. This is just an example -->
  <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
    <li role="menuitem"><a href="#">91230984</a></li>
    <li role="menuitem"><a href="#">12312334</a></li>
    <li role="menuitem"><a href="#">45634345</a></li>
  </ul>
  <button type="button" class="btn btn-success">Get Data</button>
</div>

<!-- This is where the c3 chart is rendered -->
<div class="chart">
  <div id="chart"></div>
</div>

