<!-- This is where the c3 chart is rendered -->

<div class="container">
  <uib-tabset active="active">
    <uib-tab index="0" id="acceleration-graph-tab" select="dataGraphController.setActiveTab('acceleration')">
      <uib-tab-heading>
        Acceleration Data
      </uib-tab-heading>
      <div class="container">
        </br> Livestream:
        <div class="btn-group">
          <label class="btn btn-default" uncheckable>On</label>
          <label class="btn btn-default" uib-uncheckable="uncheckable">Off</label>
        </div>
      </div>
    </uib-tab>
    
    <uib-tab index="1" active="dataGraphController.chosen" id="battery-graph-tab" select="dataGraphController.setActiveTab('battery')">
      <uib-tab-heading>
        Battery Data
      </uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  <div class="chart">
    <div id="chart"></div>
  </div>
</div>		
