<div class="container" style='align:left'>
  <div>
    <label for="watchSelect">Select a watch ID:</label>
    <select name="watchSelect" ng-model="accelerationGraphController.idToQuery">
      <option ng-repeat="watch in accelerationGraphController.watchData">
        {{ watch.id }}
      </option>
    </select>
  </div>

  <div ng-show="accelerationGraphController.idToQuery" ng-model="test" ng-change="accelerationGraphController.generateStartTimeOptions()">
    <label for="intervalSelect">Select a time Interval:</label>
    <select
      name="intervalSelect"
      ng-model="accelerationGraphController.intervalToQuery"
      ng-change="accelerationGraphController.generateStartTimeOptions()">
      <option
        ng-repeat="interval in accelerationGraphController.INTERVAL_OPTIONS"
        value="{{ interval }}">
        {{ interval + ' minutes' }}
      </option>
    </select>
  </div>

  <div ng-show="accelerationGraphController.intervalToQuery">
    <label for="startSelect">Select a start time:</label>
    <select name="startSelect" ng-model="accelerationGraphController.startTimeToQuery">
      <option
        ng-repeat="time in accelerationGraphController.startTimeOptions">
        {{ time }}
      </option>
    </select>
  </div>

  <div ng-click="accelerationGraphController.getAccelerationData()">
    <button class="btn btn-success" >Get Data</button>
  </div>

</div> 

<!-- This is where the c3 chart is rendered -->
<div class="chart">
  <div id="chart"></div>
</div>

