<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand-logo"><img src="imgs/dcapplogo.png" width="50px" height="50px"></span>
      <span class="navbar-brand-text">Canary</span>
    </div>
    <div class="nav navbar-nav navbar-right">
      <span class="badge badge-default" ng-hide="!navbarCtrl.numberOfAlerts" id="alert">{{navbarCtrl.numberOfAlerts}}</span>
        <a class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#myModal"></a>
    </div>
  </div>
</nav>
<canary-alerts></canary-alerts>
